services:
  user-service:
    restart: always
    extends:
      service: user-service
      file: ./user-service/docker-compose.yaml

  media-service:
    restart: always
    extends:
      service: media-service
      file: ./media-service/docker-compose.yaml

  nginx:
    restart: always
    depends_on:
      - user-service
      - media-service
    extends:
      service: nginx
      file: ./nginx/docker-compose.yaml

networks:
  mediamaster-internal-network:
    name: mediamaster-internal-network
